@import "tailwindcss";

footer {
    position: relative;
    z-index: 10;
}

@media (max-width: 768px) {
    footer {
        z-index: 5;
    }
}

footer button {
    transition: all ease 200ms;
}

footer button:hover {
    transform: translateY(-1px);
}

.footerDropdownBtn:hover {
    transform: none;
}

.footerDrop {
    position: relative;
}

.footerDrop::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 0;
    height: 1px;
    border-bottom: 1px solid var(--text);
    transition: width ease 300ms;
}

.footerDropdownBtn:hover .footerDrop::after,
.footerDropActive::after {
    width: 80vw;
    transition: width ease 300ms;
}

@media (max-width: 768px) {
    footer .grid-cols-1 {
        gap: 2rem;
    }

    footer .py-12 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
