@import "tailwindcss";

.navbar-nav .btn-link {
    transition: background ease 200ms;
}

.navbar-nav .btn-link.active,
.navbar-nav .btn-link:hover {
    background: var(--secondary-bg);
    transition: background ease 200ms;
}