@import "tailwindcss";

@theme {
    --bg-color: hsl(0, 0%, 14%);
    --secondary-bg-color: hsl(0, 0%, 27%);
    --text-color: hsl(0, 0%, 100%);
    --highlight-color: var(--color-amber-300);
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn {
    border-radius: 8px;
    padding: 0.3em 0.6em;
    cursor: pointer;
}

.btn-outline {
    border: 1px solid var(--highlight-color);
    color: var(--highlight-color);
    transition: all ease 200ms;
}

.btn-outline:hover {
    background: var(--highlight-color);
    color: #00000090;
    transition: all ease 200ms;
}
