@import "tailwindcss";

#root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    background-color: var(--bg);
    color: var(--text);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    
    --bg: hsl(0, 0%, 95%);
    --secondary-bg: hsl(0, 0%, 80%);
    --text: hsl(0, 0%, 0%);


    --highlight: var(--color-amber-400);


    &.dark {
        --bg: hsl(0, 0%, 10%);
        --secondary-bg: hsl(0, 0%, 20%);
        --text: hsl(0, 0%, 100%);
    }
}

.btn {
    border-radius: 8px;
    padding: 0.3em 0.6em;
    cursor: pointer;
}

.btn-outline {
    border: 1px solid var(--highlight);
    color: var(--highlight);
    transition: all ease 200ms;
}

.btn-outline:hover {
    background: var(--highlight);
    color: #00000090;
    transition: all ease 200ms;
}